/* fadein --------- */
.js_fadeInItem,
.js_fadeInTrigger *{
  transform: translateY(80px);
  transition: all 1.0s;
  opacity: 0;
}
.js_fadeInItem.is_show,
.js_fadeInTrigger.is_show *{
  opacity: 1;
  transform: translateY(0);
}
.js_fadeInTrigger.is_show *:nth-child(1) {
  transition-delay: 0s;
}
.js_fadeInTrigger.is_show *:nth-child(2) {
  transition-delay: 0.2s;
}
.js_fadeInTrigger.is_show *:nth-child(3) {
  transition-delay: 0.4s;
}
.js_fadeInTrigger.is_show *:nth-child(4) {
  transition-delay: 0.6s;
}
.js_fadeInTrigger.is_show *:nth-child(5) {
  transition-delay: 0.8s;
}
.js_fadeInTrigger.is_show *:nth-child(6) {
  transition-delay: 1.0s;
}
.js_fadeInTrigger.is_show *:nth-child(7) {
  transition-delay: 1.2s;
}
.js_fadeInTrigger.is_show *:nth-child(8) {
  transition-delay: 1.4s;
}
.js_fadeInTrigger.is_show *:nth-child(9) {
  transition-delay: 1.6s;
}
.js_fadeInTrigger.is_show *:nth-child(10) {
  transition-delay: 1.8s;
}
.js_fadeInTrigger.is_show *:nth-child(11) {
  transition-delay: 2.0s;
}
.js_fadeInTrigger.is_show *:nth-child(12) {
  transition-delay: 2.2s;
}
.js_fadeInTrigger.is_show *:nth-child(13) {
  transition-delay: 2.4s;
}
.js_fadeInTrigger.is_show *:nth-child(14) {
  transition-delay: 2.6s;
}
.js_fadeInTrigger.is_show *:nth-child(15) {
  transition-delay: 2.8s;
}
.js_fadeInTrigger.is_show *:nth-child(16) {
  transition-delay: 3.0s;
}