$pointColorBlue: #6496ab;
$pointColorDeepBlue: #20284e;
$pointColorYellow: #f5be48;
$pointColorGray: #eee;
// $pointColorBlue: #1562a0;
// $pointColorDeepBlue: #09314e;
// $pointColorYellow: #f7c215;
// $pointColorGray: #eee;