.hp_aspect{
  position: relative;
  width: 100%;
  &::after{
    content:"";
    display: block;
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img,
  &>div,
  &>a,
  &>svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & &__16-9::after{
    padding-top: 56.25%;
  }
  &__4-3::after{
    padding-top: 75%;
  }
  &__1-1::after{
    padding-top: 100%;
  }
}
